.container {
  min-height: 100vh;
  padding: 0rem;
  display: flex;
  height: 100vh;
  
}


.card {
  padding: 0.1rem;
  position:relative;
  border: 1px solid rgb(26, 25, 25);
  border-radius: 0px;
  width: 34%;
  height: 40%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
